RewriteEngine On

RewriteRule ^index.php/(.*)$ http://127.0.0.1/portfolio/error/404/
RewriteRule ^application/(.*)$ http://127.0.0.1/portfolio/error/404/
RewriteRule ^configs/(.*)$ http://127.0.0.1/portfolio/error/404/
RewriteRule ^configs/mail/(.*)$ http://127.0.0.1/portfolio/error/404/
RewriteRule ^libs/(.*)$ http://127.0.0.1/portfolio/error/404/
RewriteRule ^application/vues/adminX5710/(.*)$ http://127.0.0.1/portfolio/error/404/

RewriteRule ^ma-carriere/$ index.php?cas=afficherMaCarriere

RewriteRule ^images/(.*)$ public/images/$1

RewriteRule ^zip/(.*)$ public/zip/$1
RewriteRule ^docs/(.*)$ public/docs/$1
RewriteRule ^download/(.*)$ public/download/$1
RewriteRule ^videos/(.*)$ public/videos/$1

RewriteRule ^fonts/(.*)$ public/fonts/$1
RewriteRule ^js/(.*)$ public/js/$1
RewriteRule ^styles/(.*)$ public/styles/$1

RewriteRule ^error/404/$ index.php?cas=Erreur404

ErrorDocument 404 /error/404/

<Files .env>
    Order allow,deny
    Deny from all
</Files>

